# Importar Pandas

In [1]:
#importa pandas
import pandas as pd

In [2]:
pd.__version__

'1.3.4'

# Crear una Serie

Explore series en python en el siguiente [link](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html) en las primeras lineas del documento

In [3]:
# Crea una Serie de los numeros 10, 20 and 10.
s = pd.Series([10, 20, 10])
s

0    10
1    20
2    10
dtype: int64

In [8]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'
s = pd.Series(["rojo", "verde", "azul"])
s

0     rojo
1    verde
2     azul
dtype: object

# Crear un Dataframe

In [ ]:
# Crea un dataframe vacío llamado 'df'
dicx= {}
df_dataframe = pd.DataFrame(dicx)
df_dataframe
df = pd.Dataframe()

In [13]:
# Crea una nueva columna en el dataframe, y asignale la primera serie que has creado

serie1 = [[10, 20, 10]]

# nombre de columnas
columnas= ["C1", "C2", "C3"]
# Ayuda para funcion -> shift + tab
df_serie1 = pd.DataFrame(data=serie1, columns = columnas)
df_serie1

   C1  C2  C3
0  10  20  10

In [14]:
# Crea otra columna en el dataframe y asignale la segunda Serie que has creado
serie2 = [["rojo", "verde", "azul"]]

# nombre de columnas
columnas= ["C1", "C2", "C3"]
# Ayuda para funcion -> shift + tab
df_serie2 = pd.DataFrame(data=serie2, columns = columnas)
df_serie2

     C1     C2    C3
0  rojo  verde  azul

# Leer un dataframe

In [18]:
# Lee el archivo llamado 'avengers.csv" localizado en la carpeta "data" y crea un DataFrame, llamado 'avengers'. 
# El archivo está localizado en "data/avengers.csv"
df = pd.read_csv('./src/pandas/avengers.csv', sep=',')
df.head()

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,1963,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,1963,Dies in Fear Itself brought back because that'...

# Inspeccionar un dataframe

In [19]:
# Muestra las primeras 5 filas del DataFrame.
df.head(5)

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,1963,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,1963,Dies in Fear Itself brought back because that'...

In [20]:
# Muestra las primeras 10 filas del DataFrame. 
df.head(10)

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,1963,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,1963,Dies in Fear Itself brought back because that'...
5,http://marvel.wikia.com/Richard_Jones_(Earth-616),Richard Milhouse Jones,612,YES,MALE,1963,NaN
6,http://marvel.wikia.com/Steven_Rogers_(Earth-616),Steven Rogers,3458,YES,MALE,1964,Dies at the end of Civil War. Later comes back.
7,http://marvel.wikia.com/Clint_Barton_(Earth-616),Clinton Francis Barton,1456,YES,MALE,1965,Dies in exploding Kree ship in Averngers Vol. ...
8,http://marvel.wikia.com/Pietro_Maximoff_(Earth...,Pietro Maximoff,769,YES,MALE,1965,Dies in House of M Vol 1 Issue 7. Later comes ...
9,http://marvel.wikia.com/Wanda_Maximoff_(Earth-...,Wanda Maximoff,1214,YES,FEMALE,1965,Dies in Uncanny_Avengers_Vol_1_14. Later comes...

In [22]:
# Muestra las últimas 5 filas del DataFrame.
df.tail(5)

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
168,http://marvel.wikia.com/Eric_Brooks_(Earth-616)#,Eric Brooks,198,YES,MALE,2013,NaN
169,http://marvel.wikia.com/Adam_Brashear_(Earth-6...,Adam Brashear,29,YES,MALE,2014,NaN
170,http://marvel.wikia.com/Victor_Alvarez_(Earth-...,Victor Alvarez,45,YES,MALE,2014,NaN
171,http://marvel.wikia.com/Ava_Ayala_(Earth-616)#,Ava Ayala,49,YES,FEMALE,2014,NaN
172,http://marvel.wikia.com/Kaluu_(Earth-616)#,Kaluu,35,YES,MALE,2015,NaN

# Tamaño del DataFrame

In [23]:
# Muestra el tamaño del DataFrame
df.shape

(173, 7)

# Data types en un DataFrame

In [24]:
# Muestra los data types del dataframe
df.dtypes

URL              object
nombre           object
n_apariciones     int64
actual           object
genero           object
fecha_inicio      int64
Notes            object
dtype: object

# Editar el indice (index)

In [25]:
# Cambia el indice a la columna "fecha_inicio".
df2 = df.set_index("fecha_inicio").copy()
df2.head()

,URL,nombre,n_apariciones,actual,genero,Notes
fecha_inicio,,,,,,
1963,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,Merged with Ultron in Rage of Ultron Vol. 1. A...
1963,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,Dies in Secret Invasion V1:I8. Actually was se...
1963,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,"Death: ""Later while under the influence of Imm..."
1963,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,"Dies in Ghosts of the Future arc. However ""he ..."
1963,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,Dies in Fear Itself brought back because that'...

# Ordenar el indice

In [32]:
# Ordena el índice de forma descendiente
df.sort_values(by=["URL", "nombre", "n_apariciones", "actual", "genero", "fecha_inicio", "Notes"], ascending=[False, False, False, False, False, False, False,])

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
23,http://marvel.wikia.com/Yondu_Udonta_(Earth-691)#,Yondu Udonta,109,NO,MALE,1978,NaN
97,http://marvel.wikia.com/William_Kaplan_(Earth-...,"William ""Billy"" Kaplan",123,YES,MALE,2005,NaN
76,http://marvel.wikia.com/William_Baker_(Earth-6...,William Baker,355,NO,MALE,1900,Died in Identity_Disc_Vol_1_1. Later was revea...
59,http://marvel.wikia.com/Wendell_Vaughn_(Earth-...,Wendell Elvis Vaughn,293,NO,MALE,1989,Killed by the Cosmic Assassin. Actually turned...
9,http://marvel.wikia.com/Wanda_Maximoff_(Earth-...,Wanda Maximoff,1214,YES,FEMALE,1965,Dies in Uncanny_Avengers_Vol_1_14. Later comes...
...,...,...,...,...,...,...,...
144,http://marvel.wikia.com/Alexander_Summers_(Ear...,Alex Summers,592,YES,MALE,2012,NaN
129,http://marvel.wikia.com/Alani_Ryan_(Earth-616)#,Alani Ryan,73,YES,FEMALE,1900,NaN
169,http://marvel.wikia.com/Adam_Brashear_(Earth-6...,Adam Brashear,29,YES,MALE,2014,NaN
154,http://marvel.wikia.com/Abyss_(Ex_Nihilo%27s)_...,NaN,25,YES,FEMALE,2013,Died in New_Avengers_Vol_3_32
47,http://marvel.wikia.com/2ZP45-9-X-51_(Earth-616)#,X-51,149,NO,MALE,1992,Died in Deathlok Vol 2 #5. JK that was actuall...

# Resetear el indice

In [33]:
# Resetea el índice
df2.reset_index(drop=True, inplace=True)
df2.head()

,URL,nombre,n_apariciones,actual,genero,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,Dies in Fear Itself brought back because that'...